:root {
    --primary: #278fcc;
    --light: #ffffff;
    --grey: #efefef;
    --text: #278fcc;
    --display: none;
    --footer: #2486BF;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

.non-decoration {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary)!important;
}

.bg-light {
    background-color: var(--light)!important;
}

.btn {
    border: 0;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
    zoom: 1.1;
}

#sidebar-container-responsive {
    display: none;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: auto;
}

#btn-search {
    right: 5px;
}

.avatar {
    max-width: 35px;
}

#content {
    overflow-y: auto;
    height: auto;
    padding-bottom: 5rem;
}

.color-text {
    color: var(--text);
}

.separar {
    border-right: 1px solid var(--grey);
}

@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }
    #sidebar-container-responsive {
        display: flex;
    }
    .separar {
        border: 0;
    }
    #card-carousel-container {
        width: 100% !important;
    }
}

@media (max-width: 1088px) {
    #card-carousel-container {
        width: 90% !important;
    }
}

#card-carousel-container {
    width: 70%;
}

.fondo-fuente-carrusel {
    background-color: var(--primary);
}

footer {
    background-color: #23495f;
}

.footer-color {
    background-color: #2486BF;
}

#single-card:hover {
    transform: scale(1.1, 1);
}

#card-container:hover {
    transform: scale(1.1, 1);
}